/* App styles*/
/* App fonts */
/* fonts */
/* vars */
/* functions */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }
  body .container-fluid {
    overflow: hidden; }
  body .inner {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1140px;
    width: 100%; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: auto; }

.clearfix {
  clear: both; }

.no-padding {
  padding: 0 !important; }

.modal .modal-header {
  padding: 15px 30px; }
  .modal .modal-header h4 {
    text-align: center;
    font: 24px/30px Montserrat,sans-serif;
    color: black;
    text-transform: uppercase;
    margin: 0 0 10px; }
  .modal .modal-header p {
    font: 16px/22px Montserrat,sans-serif;
    color: #939393; }

.modal .modal-footer button {
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 0 35px;
  height: 40px;
  font: 14px/18px 'Open Sans',sans-serif;
  font-weight: normal;
  font-weight: normal;
  font-weight: 400;
  color: #fff;
  background: #13b4cf;
  border: 0;
  border-radius: 50px;
  z-index: 1;
  outline: 0; }

.modal .modal-footer img {
  display: none;
  max-width: 60px;
  margin: 15px auto; }

.modal .modal-footer.loading img {
  display: block; }

.modal .modal-footer .alert {
  text-align: center;
  margin: 15px 0 0; }

.form-group.error label {
  color: red; }

.form-group.error input {
  border-color: red; }

/* app styles*/
header {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  background: transparent;
  width: 100%;
  height: 62px;
  z-index: 101; }
  header .menu-button {
    display: none; }
  header .logo {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 2; }
    header .logo.mini {
      display: none; }
  header nav {
    padding: 0 0 0 177px;
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: 62px;
    clear: both; }
    header nav .main-menu {
      position: relative;
      display: block;
      margin: 0 0 0 -15px;
      padding: 0;
      float: left;
      list-style: none;
      height: 100%; }
      header nav .main-menu li {
        position: relative;
        display: block;
        margin: 0 10px 0 0;
        padding: 0;
        float: left;
        width: 94px;
        height: 100%; }
        header nav .main-menu li a {
          font-weight: 700;
          color: white;
          text-align: center;
          padding: 0 0 11px 0;
          margin: 18px 0 0;
          position: relative;
          display: block;
          width: 100%;
          font: 12px/12px Montserrat,sans-serif;
          font-weight: normal;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
          border-bottom: 2px solid #626262; }
        header nav .main-menu li.vuelosYHotel a {
          border-bottom-color: #13b4cf; }
        header nav .main-menu li.packs a {
          border-bottom-color: #fcd12f; }
        header nav .main-menu li.eventos a {
          padding: 23px 0 18px;
          margin: 0;
          border-bottom-color: #b62678; }
        header nav .main-menu li.contacto a {
          padding: 23px 0 18px;
          margin: 0;
          border-bottom-color: #13b4cf; }
    header nav .secondary-menu {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      float: right;
      list-style: none; }
      header nav .secondary-menu li {
        position: relative;
        display: block;
        margin: 0 10px 0 0;
        padding: 0;
        float: left;
        min-width: 94px;
        height: 100%; }
        header nav .secondary-menu li a {
          position: relative;
          display: block;
          margin: 0;
          padding: 23px 0 18px;
          width: 100%;
          font: 12px/12px Montserrat,sans-serif;
          font-weight: normal;
          font-weight: 700;
          color: #626262;
          text-decoration: none;
          border-bottom: 2px solid #626262;
          text-transform: uppercase; }
          header nav .secondary-menu li a.login {
            background: rgba(255, 255, 255, 0.4);
            border-bottom: 2px solid #fff;
            padding: 19px 10px 18px;
            font-weight: 400; }
            header nav .secondary-menu li a.login::before {
              content: '';
              position: relative;
              display: inline-block;
              margin: 0 7px 0 0;
              padding: 0;
              top: 3px;
              background: url(../images/ico-login.png) no-repeat 0 0;
              width: 11px;
              height: 14px; }

.master-slider {
  height: 500px !important;
  top: -62px !important;
  margin-bottom: -62px !important;
  z-index: 0; }
  .master-slider .ms-slide .ms-slide-bgcont img {
    height: 500px !important; }

.reservation-form-container {
  position: relative;
  display: block;
  margin: -255px 0 0 0;
  padding: 0; }
  .reservation-form-container .reservation-form {
    padding: 0px 25px 25px 25px;
    position: relative;
    display: block;
    margin: 0 0 40px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 2px 2px 5px 1px rgba(204, 204, 204, 0.5);
    -ms-box-shadow: 2px 2px 5px 1px rgba(204, 204, 204, 0.5);
    -o-box-shadow: 2px 2px 5px 1px rgba(204, 204, 204, 0.5);
    box-shadow: 2px 2px 5px 1px rgba(204, 204, 204, 0.5); }
    .reservation-form-container .reservation-form .head {
      position: relative;
      display: block;
      margin: 0 0 10px;
      padding: 0;
      border-bottom: 2px solid #f0f0f0;
      overflow: hidden; }
      .reservation-form-container .reservation-form .head .left {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        width: 60%; }
        .reservation-form-container .reservation-form .head .left ul {
          padding: 15px;
          position: relative;
          display: inline-flex;
          margin: 0;
          list-style: none; }
          .reservation-form-container .reservation-form .head .left ul li a {
            padding: 10px;
            margin-bottom: 6px;
            font-weight: 700;
            text-decoration: none;
            margin-right: 7px; }
            .reservation-form-container .reservation-form .head .left ul li a.active {
              background: #13b4cf;
              color: white;
              padding: 10px;
              border-radius: 8%;
              margin-top: 18px;
              box-shadow: 0px 1px 5px 1px #00000047; }
              .reservation-form-container .reservation-form .head .left ul li a.active.hotel {
                background: #f28007; }
              .reservation-form-container .reservation-form .head .left ul li a.active.fly-and-hotel {
                background: #13b4cf; }
        .reservation-form-container .reservation-form .head .left h3 {
          position: relative;
          display: block;
          margin: 0;
          padding: 15px 0 15px 100px;
          font: 15px/20px 'Open Sans',sans-serif;
          font-weight: 400;
          color: #000; }
      .reservation-form-container .reservation-form .head .right {
        position: relative;
        display: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 40%; }
        .reservation-form-container .reservation-form .head .right ul {
          position: relative;
          display: block;
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: right; }
          .reservation-form-container .reservation-form .head .right ul li {
            position: relative;
            display: inline-block;
            margin: 0;
            padding: 0; }
            .reservation-form-container .reservation-form .head .right ul li a {
              position: relative;
              display: block;
              margin: 0;
              padding: 16px 20px 30px;
              font: 14px/18px 'Open Sans',sans-serif;
              font-weight: normal;
              font-weight: 400;
              color: #13b4cf;
              text-decoration: none;
              padding: 10px; }
              .reservation-form-container .reservation-form .head .right ul li a.active {
                border-bottom: 2px solid #13b4cf;
                color: #000;
                font-weight: 700;
                padding-bottom: 20px; }
    .reservation-form-container .reservation-form .form {
      position: relative;
      display: table;
      margin: 0;
      padding: 0;
      width: 100%; }
      .reservation-form-container .reservation-form .form .table-row {
        position: relative;
        display: table-row;
        margin: 0;
        padding: 0; }
        .reservation-form-container .reservation-form .form .table-row .table-cell {
          position: relative;
          display: table-cell;
          margin: 0;
          padding: 0; }
      .reservation-form-container .reservation-form .form .labels {
        position: relative;
        display: table-header-group;
        margin: 0;
        padding: 0;
        width: 100%; }
        .reservation-form-container .reservation-form .form .labels .table-row .table-cell {
          padding-bottom: 10px; }
        .reservation-form-container .reservation-form .form .labels p {
          position: relative;
          display: block;
          margin: 0;
          padding: 0 0 0 5px;
          font: 12px/16px 'Open Sans',sans-serif;
          font-weight: normal;
          font-weight: 300;
          color: #939393; }
      .reservation-form-container .reservation-form .form .inputs {
        display: table-row-group;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%; }
        .reservation-form-container .reservation-form .form .inputs .table-cell-label {
          display: none; }
        .reservation-form-container .reservation-form .form .inputs .table-row .table-cell {
          border-left: 1px solid #e7e7e7;
          border-right: 0;
          background: #fbfbfb;
          padding: 0;
          vertical-align: middle; }
          .reservation-form-container .reservation-form .form .inputs .table-row .table-cell::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #e7e7e7; }
          .reservation-form-container .reservation-form .form .inputs .table-row .table-cell::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            border-bottom: 1px solid #e7e7e7; }
          .reservation-form-container .reservation-form .form .inputs .table-row .table-cell:last-of-type {
            border-left: 0;
            text-align: right;
            background: linear-gradient(to right, #fbfbfb 0, #fff 100%);
            width: 15%;
            padding-right: 0; }
            .reservation-form-container .reservation-form .form .inputs .table-row .table-cell:last-of-type::after {
              width: 50%;
              border-bottom: 1px solid #e7e7e7; }
            .reservation-form-container .reservation-form .form .inputs .table-row .table-cell:last-of-type::before {
              width: 50%;
              border-bottom: 1px solid #e7e7e7; }
          .reservation-form-container .reservation-form .form .inputs .table-row .table-cell input, .reservation-form-container .reservation-form .form .inputs .table-row .table-cell .bootstrap-select .btn {
            position: relative;
            display: block;
            margin: 0;
            padding: 0 30px 0 20px;
            width: 100%;
            height: 60px;
            background: transparent;
            background-color: transparent;
            font: 14px/18px 'Open Sans',sans-serif;
            font-weight: normal;
            font-weight: 300;
            color: #4a4a4a;
            border: 0;
            outline: 0; }
            .reservation-form-container .reservation-form .form .inputs .table-row .table-cell input.calendar, .reservation-form-container .reservation-form .form .inputs .table-row .table-cell .bootstrap-select .btn.calendar {
              background: url(../images/ico-calendario-input.svg) no-repeat 90% center; }
            .reservation-form-container .reservation-form .form .inputs .table-row .table-cell input.guests, .reservation-form-container .reservation-form .form .inputs .table-row .table-cell .bootstrap-select .btn.guests {
              background: url(../images/ico-huespedes-input.svg) no-repeat 100% center; }
          .reservation-form-container .reservation-form .form .inputs .table-row .table-cell button[type="submit"] {
            position: relative;
            display: inline-block;
            margin: 0;
            padding: 0 20px;
            height: 60px;
            font: 14px/18px 'Open Sans',sans-serif;
            font-weight: normal;
            font-weight: 400;
            color: #fff;
            background: #13b4cf;
            border: 0;
            border-radius: 50px;
            z-index: 1;
            outline: 0; }
            .reservation-form-container .reservation-form .form .inputs .table-row .table-cell button[type="submit"]::before {
              content: '';
              position: relative;
              display: inline-block;
              margin: 0 10px 0 0;
              padding: 0;
              background: url(../images/ico-buscar.svg) no-repeat center center;
              width: 17px;
              height: 18px;
              top: 4px; }
    .reservation-form-container .reservation-form .full {
      display: none !important; }
    .reservation-form-container .reservation-form.hotel .head .left h3 {
      background: url(../images/solo-hotel.svg) no-repeat left center; }
    .reservation-form-container .reservation-form.fly-and-hotel .head .left h3 {
      background: url(../images/avion-hotel.svg) no-repeat left center; }
    .reservation-form-container .reservation-form.fly-and-hotel .head .right {
      display: block; }
    .reservation-form-container .reservation-form.fly-and-hotel .full {
      display: table-cell !important; }
    .reservation-form-container .reservation-form .rooms-list {
      position: absolute;
      display: none;
      margin: 0;
      padding: 0;
      background: #fff;
      border: 1px solid #e7e7e7;
      border-top-color: #e7e7e7;
      border-top-style: solid;
      border-top-width: 1px;
      border-top: 2px solid #13b4cf;
      z-index: 2;
      width: 100%;
      max-height: 252px;
      overflow-x: hidden;
      overflow-y: auto; }
      .reservation-form-container .reservation-form .rooms-list.active {
        display: block;
        z-index: 99; }
      .reservation-form-container .reservation-form .rooms-list .room .room-title {
        color: #13b4cf;
        text-align: center;
        padding: 10px 0 0px 0px; }
      .reservation-form-container .reservation-form .rooms-list .room .item {
        position: relative;
        display: block;
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid #e7e7e7;
        overflow: hidden; }
        .reservation-form-container .reservation-form .rooms-list .room .item .description, .reservation-form-container .reservation-form .rooms-list .room .item .actions {
          position: relative;
          display: block;
          margin: 0;
          padding: 0;
          float: left;
          width: 60%; }
          .reservation-form-container .reservation-form .rooms-list .room .item .description p, .reservation-form-container .reservation-form .rooms-list .room .item .actions p {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            font: 14px/18px 'Open Sans',sans-serif;
            font-weight: normal;
            font-weight: 300;
            color: #4a4a4a; }
            .reservation-form-container .reservation-form .rooms-list .room .item .description p span, .reservation-form-container .reservation-form .rooms-list .room .item .actions p span {
              display: block;
              font: 10px/14px 'Open Sans',sans-serif;
              font-weight: normal;
              font-weight: 400;
              color: #9b9b9b; }
        .reservation-form-container .reservation-form .rooms-list .room .item .actions {
          width: 40%; }
          .reservation-form-container .reservation-form .rooms-list .room .item .actions .action-table {
            position: relative;
            display: table;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 32px; }
            .reservation-form-container .reservation-form .rooms-list .room .item .actions .action-table .action-table-row {
              position: relative;
              display: table-row;
              margin: 0;
              padding: 0;
              border: 0; }
              .reservation-form-container .reservation-form .rooms-list .room .item .actions .action-table .action-table-row .action-table-cell {
                position: relative;
                display: table-cell;
                margin: 0;
                padding: 0;
                vertical-align: middle;
                text-align: center;
                background: #fff;
                border: 0; }
                .reservation-form-container .reservation-form .rooms-list .room .item .actions .action-table .action-table-row .action-table-cell p {
                  position: relative;
                  display: block;
                  margin: 0;
                  padding: 0 10px;
                  font: 20px/24px 'Open Sans',sans-serif;
                  font-weight: normal;
                  font-weight: 300;
                  color: #4a4a4a; }
                .reservation-form-container .reservation-form .rooms-list .room .item .actions .action-table .action-table-row .action-table-cell a {
                  position: relative;
                  display: block;
                  margin: 0;
                  padding: 0;
                  font: 0/0 a;
                  width: 18px;
                  height: 18px; }
                  .reservation-form-container .reservation-form .rooms-list .room .item .actions .action-table .action-table-row .action-table-cell a.less {
                    background: url(../images/ico-menos.png) no-repeat 0 0; }
                  .reservation-form-container .reservation-form .rooms-list .room .item .actions .action-table .action-table-row .action-table-cell a.more {
                    background: url(../images/ico-mas.png) no-repeat 0 0; }

.banners {
  position: relative;
  display: block;
  margin: 0 0 0 0;
  padding: 0; }
  .banners .banner {
    position: relative;
    display: block;
    margin: 0;
    padding: 0; }
    .banners .banner a {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      text-decoration: none;
      border: 0; }
    .banners .banner h3 {
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      left: 30px;
      bottom: 35px;
      font: 28px/28px Montserrat,sans-serif;
      font-weight: normal;
      font-weight: 700;
      color: #fff;
      z-index: 2;
      text-shadow: 2px 2px #333; }
    .banners .banner img {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      border: 0;
      border-radius: 6px; }

.promotional-block {
  clear: both;
  background: #f3f3f3;
  position: relative;
  display: block;
  margin: 0;
  padding: 77px 77px 60px; }
  .promotional-block .title {
    position: relative;
    display: block;
    margin: 0 0 35px;
    padding: 0;
    width: 100%;
    text-align: center; }
    .promotional-block .title h1 {
      position: relative;
      display: block;
      margin: -37px 0 15px;
      padding: 0;
      font: 47px/50px Montserrat,sans-serif;
      text-shadow: 1px 1px 0px grey;
      color: black; }
      .promotional-block .title h1 div {
        margin: 0 0 -28px; }
  .promotional-block .text {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 150px;
    width: 100%;
    text-align: center; }
    .promotional-block .text div:not(.clearfix) {
      display: none; }
    .promotional-block .text p {
      font: 16px/22px Montserrat,sans-serif;
      text-shadow: none;
      color: black;
      position: relative;
      display: block;
      margin: 0;
      padding: 0; }
    .promotional-block .text span {
      color: #6ccede;
      font: 18px/30px 'Open Sans',sans-serif;
      font-weight: normal;
      font-weight: bold;
      padding: 13px 0px 0px 0px;
      display: block; }

.promotional-form {
  position: relative;
  display: block;
  margin: 0;
  padding: 30px;
  background: #14b5d0; }
  .promotional-form .text {
    position: relative;
    display: table;
    margin: 0;
    padding: 0;
    vertical-align: middle; }
    .promotional-form .text div {
      position: relative;
      display: table-cell;
      margin: 0;
      padding: 0 0 0 110px;
      vertical-align: middle;
      background: url(../images/ico-formulario-codigo-promocional.png) no-repeat left center; }
      .promotional-form .text div p {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        font: 18px/22px Montserrat,sans-serif;
        font-weight: normal;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase; }
        .promotional-form .text div p strong {
          margin: 0;
          display: block;
          font: 30px/40px Montserrat,sans-serif;
          font-weight: normal;
          font-weight: 700;
          text-transform: none; }
        .promotional-form .text div p span {
          display: block;
          text-transform: uppercase;
          color: #006974; }
  .promotional-form .form-container {
    position: relative;
    display: table;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%; }
    .promotional-form .form-container div.cell {
      position: relative;
      display: table-cell;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      width: 100%; }
    .promotional-form .form-container form {
      position: relative;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%; }
      .promotional-form .form-container form input {
        position: relative;
        display: block;
        margin: 0;
        padding: 0 25px;
        height: 76px;
        background: url(../images/bg-input-codigo-promocional.png) no-repeat right top #72d3e3;
        border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-bottom: 2px solid #fcd12f;
        color: #fff;
        font: 20px/22px 'Open Sans',sans-serif;
        font-weight: normal;
        font-weight: 400;
        width: 70%;
        box-sizing: border-box;
        float: left; }
      .promotional-form .form-container form button {
        position: relative;
        display: block;
        margin-bottom: 0;
        padding: 0 25px;
        height: 76px;
        background: url(../images/bg-button-codigos-promocionales.png) no-repeat right top #fcc724;
        font: 14px/18px Montserrat,sans-serif;
        font-weight: normal;
        font-weight: 700;
        color: #574500;
        border: 0;
        width: 30%;
        box-sizing: border-box;
        float: left; }

.full-width-blocks {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both; }
  .full-width-blocks .block {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    .full-width-blocks .block img {
      width: 100%; }
    .full-width-blocks .block .title {
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      top: 50px;
      left: 0; }
      .full-width-blocks .block .title h3 {
        position: relative;
        display: block;
        margin: 0 0 15px;
        padding: 0;
        font: 30px/34px Montserrat,sans-serif;
        font-weight: normal;
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
    .full-width-blocks .block .text {
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 90px;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      overflow: hidden; }
      .full-width-blocks .block .text .left {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        width: 70%; }
        .full-width-blocks .block .text .left .description {
          position: relative;
          display: block;
          padding: 10px 0 0 30px;
          margin: 0;
          box-sizing: border-box;
          float: left;
          width: 70%;
          font: 14px/18px 'Open Sans',sans-serif;
          font-weight: normal;
          font-weight: 400;
          color: #fff; }
          .full-width-blocks .block .text .left .description h4 {
            position: relative;
            display: block;
            margin: 0 0 5px;
            padding: 0;
            font: 14px/22px 'Open Sans',sans-serif;
            color: #a5d04a; }
          .full-width-blocks .block .text .left .description p {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            font: 14px/18px 'Open Sans',sans-serif;
            font-weight: normal;
            font-weight: 400;
            color: #fff; }
        .full-width-blocks .block .text .left .price {
          position: relative;
          display: block;
          margin: 0;
          box-sizing: border-box;
          float: right;
          width: 30%;
          color: #fff;
          text-align: center;
          padding: 10px 0;
          font: 32px/38px Montserrat,sans-serif;
          font-weight: normal;
          font-weight: 400; }
          .full-width-blocks .block .text .left .price .old {
            position: relative;
            display: block;
            padding: 0;
            margin: 0;
            color: #fff;
            font: 14px/18px Montserrat,sans-serif;
            font-weight: normal;
            font-weight: 400;
            text-align: center;
            text-decoration: line-through; }
          .full-width-blocks .block .text .left .price span {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font: 12px/16px 'Open Sans',sans-serif;
            font-weight: normal;
            font-weight: 400; }
      .full-width-blocks .block .text .right {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        float: right;
        width: 30%; }
        .full-width-blocks .block .text .right a {
          position: relative;
          display: block;
          margin: 0;
          padding: 35px 0;
          font: 20px/20px Montserrat,sans-serif;
          color: #fff;
          text-align: center;
          text-decoration: none;
          width: 100%; }
    .full-width-blocks .block.green .title h3 {
      color: #a5d04a; }
    .full-width-blocks .block.green .text .left .description h4 {
      color: #a5d04a; }
    .full-width-blocks .block.green .text .right a {
      background: #a5d04a; }
    .full-width-blocks .block.yellow .title h3 {
      color: #fcd12f; }
    .full-width-blocks .block.yellow .text .left .description h4 {
      color: #fcd12f; }
    .full-width-blocks .block.yellow .text .right a {
      background: #fcd12f; }

.call-to-action {
  position: relative;
  display: block;
  margin: 0;
  padding: 17px 0;
  background: #00abca;
  color: #fff;
  overflow: hidden;
  clear: both; }
  .call-to-action .text {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 0 13px 98px;
    background: url(../images/ico-hazte-miembro.png) no-repeat 8px center;
    width: 100%;
    font: 20px/30px Montserrat,sans-serif;
    font-weight: normal;
    font-weight: 400; }
    .call-to-action .text strong {
      display: block;
      font-weight: 700; }
  .call-to-action .description {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 0 10px 67px;
    background: url(../images/ico-barra-vertical.png) no-repeat left center;
    width: 100%;
    font: 16px/22px 'Open Sans',sans-serif; }
  .call-to-action a {
    position: relative;
    display: block;
    margin: 0;
    padding: 33px 36px 35px;
    background: #006f81;
    color: #fff;
    font: 18px/18px Montserrat,sans-serif;
    font-weight: normal;
    font-weight: 400;
    text-decoration: none; }
    .call-to-action a::after {
      content: '';
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      background: url(../images/ico-boton-flecha.png) no-repeat 0 0;
      width: 41px;
      height: 41px;
      right: 33px;
      top: 23px; }

footer {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  background: #fff; }
  footer ul {
    position: relative;
    display: block;
    margin: 0;
    float: left;
    list-style: none;
    padding: 0px 2px;
    z-index: 0; }
    footer ul li {
      position: relative;
      display: block;
      margin: 0;
      padding: 0 12px;
      padding-left: 12px;
      float: left;
      border-right: 1px solid #626262; }
      footer ul li:first-of-type {
        padding-left: 0; }
      footer ul li a {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        color: #626262;
        font: 12px/12px Montserrat,sans-serif;
        text-decoration: none;
        text-transform: uppercase; }
    footer ul.links {
      margin-top: 37px; }
    footer ul.social {
      float: right; }
      footer ul.social li {
        width: 90px;
        border: 0;
        padding: 0;
        padding-left: 0px;
        margin: 0 5px; }
        footer ul.social li a {
          position: relative;
          display: block;
          margin: 0;
          padding: 0;
          font: 0/0 a;
          text-shadow: none;
          text-decoration: none;
          width: 100%;
          height: 72px;
          border-bottom: 8px solid #626262;
          border-bottom-color: #626262;
          z-index: 1; }
          footer ul.social li a.facebook {
            background: url(../images/ico-facebook-footer.png) no-repeat center center;
            border-bottom-color: #385b95; }
            footer ul.social li a.facebook::after {
              background: url(../images/ico-facebook-blanco-footer.png) no-repeat center center #385b95;
              border-bottom-color: #385b95; }
          footer ul.social li a.twitter {
            background: url(../images/ico-twitter-footer.png) no-repeat center center;
            border-bottom-color: #2da9e8; }
            footer ul.social li a.twitter::after {
              background: url(../images/ico-twitter-blanco-footer.png) no-repeat center center #2da9e8;
              border-bottom-color: #2da9e8; }
          footer ul.social li a.instagram {
            background: url(../images/ico-instagram-footer.png) no-repeat center center;
            border-bottom-color: #4c82b0; }
            footer ul.social li a.instagram::after {
              background: url(../images/ico-instagram-blanco-footer.png) no-repeat center center #4c82b0;
              border-bottom-color: #4c82b0; }
          footer ul.social li a.pinterest {
            background: url(../images/ico-pinterest-footer.png) no-repeat center center;
            border-bottom-color: #cd242a; }
            footer ul.social li a.pinterest::after {
              background: url(../images/ico-pinterest-blanco-footer.png) no-repeat center center #cd242a;
              border-bottom-color: #cd242a; }
          footer ul.social li a.youtube {
            background: url(../images/ico-youtube-footer.png) no-repeat center center;
            border-bottom-color: #df4a3e; }
            footer ul.social li a.youtube::after {
              background: url(../images/ico-youtube-blanco-footer.png) no-repeat center center #df4a3e;
              border-bottom-color: #df4a3e; }
          footer ul.social li a::after {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            bottom: .5em;
            position: absolute;
            left: 0;
            z-index: 0;
            transition: all .2s ease-out; }
          footer ul.social li a:hover::after {
            bottom: 0;
            height: 100%; }
